@page "/acme/dns/edit/{ProviderId:guid}"
@attribute [Authorize(Roles = AuthRoles.Admin)]
@inject IStringLocalizer<Language> _strings
@inject IJSRuntime _js
@inject IDbContextFactory<ProxyDb> _dbFactory
@inject ScriptCompilationService _scriptCompilation
@inject ModalService _modal
@inject AdminAppStateService _appState
@inject ProxyStateService _proxyState
@inject NavigationManager _nav

<PageHeader Title="@(_strings["Edit DNS Provider"] + ": " + (_provider?.Name))" FullWidthDivider>
    <PageHeaderButton Icon="info-circle" Label="@_strings["Imports"]" @onclick="ShowImports" />
    @if (_provider != null) {
        <PageHeaderButton Icon="send" Label="@_strings["Test"]" @onclick="TestProvider" />
        <PageHeaderButton Icon="eraser" Label="@_strings["Discard"]" @onclick="DiscardChanges" />
        <PageHeaderButton Icon="device-floppy" Label="@_strings["Save"]" @onclick="SaveChanges" />
    }
</PageHeader>

<div class="editor-container">
    <div @ref="_editorElement" class="editor"></div>
</div>
