@page "/clusters"

@implements IDisposable

@inject IStringLocalizer<Language> _strings
@inject IDbContextFactory<ProxyDb> _dbFactory
@inject ConfigurationService _config
@inject NavigationManager _nav
@inject ModalService _modal

<PageHeader Title="@_strings["Clusters"]">
    <AuthorizeView Roles="@AuthRoles.Editor">
        <PageHeaderLink href="/clusters/create" Icon="square-plus" Label="@_strings["Create"]" />
    </AuthorizeView>
</PageHeader>

<PageContent>
    @if (_clusters == null) {
        <LoadingIndicator />
        return;
    }

    <InfoBlock>
        @_strings["INFO_Clusters"]
    </InfoBlock>

    @if (_clusters.Count == 0) {
        <div class="empty">
            @_strings["No Clusters Defined"]
            <br /><br />
            @_strings["Help_ClickCreate"] <Icon Name="arrow-up-right" />
        </div>
        return;
    }

    <table>
        <thead>
            <tr>
                <th>@_strings["Name"]</th>
                <th>@_strings["Description"]</th>
                <th>@_strings["Destinations"]</th>
                <AuthorizeView Roles="@AuthRoles.Editor">
                    <th class="action"></th>
                    <th class="action"></th>
                    <th class="action"></th>
                </AuthorizeView>
            </tr>
        </thead>
        <tbody>
            @foreach (var cluster in _clusters) {
                <tr>
                    <td>@cluster.Name</td>
                    <td>@cluster.Description</td>
                    <td class="monospace">
                        @foreach (var destination in cluster.Destinations) {
                            <div>
                                @destination.Address
                                @if (!string.IsNullOrWhiteSpace(destination.Name)) {
                                    <span class="destination-name"> (@destination.Name)</span>
                                }
                            </div>
                        }
                    </td>
                    <AuthorizeView Roles="@AuthRoles.Editor">
                        <td class="action">
                            <button class="action" title="@_strings["Edit"]" @onclick="() => EditCluster(cluster)">
                                <Icon Name="pencil" Size="18px" />
                            </button>
                        </td>
                        <td class="action">
                            <button class="action" title="@_strings["Clone"]" @onclick="() => CloneCluster(cluster)">
                                <Icon Name="copy" Size="18px" />
                            </button>
                        </td>
                        <td class="action">
                            <button class="delete" title="@_strings["Delete"]" @onclick="() => DeleteCluster(cluster)">
                                <Icon Name="trash" Size="18px" />
                            </button>
                        </td>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
</PageContent>

@code {
    private ProxyDb _db = default!;
    private List<ProxyCluster>? _clusters;

    protected override async Task OnInitializedAsync() {
        _db = _dbFactory.CreateDbContext();
        await ReloadClusters();
    }

    private async Task ReloadClusters() {
        _db.ChangeTracker.Clear();
        _clusters = await _db.Clusters
            .Include(c => c.Destinations.OrderBy(d => d.Order))
            .OrderBy(_ => _.Name)
            .ToListAsync();
    }

    private void EditCluster(ProxyCluster cluster) {
        _nav.NavigateTo($"/clusters/{cluster.Id}");
    }

    private async Task CloneCluster(ProxyCluster cluster) {
        var result = await _modal.SingleValue(_strings["Clone Cluster"], _strings["CloneClusterPrompt"], cluster.Name);
        if (result.DialogResult != DialogResult.OK) return;

        var newCluster = cluster.Clone(cluster.ConfigRevision);
        newCluster.Id = Guid.NewGuid();
        newCluster.Name = result.Value;
        foreach (var destination in newCluster.Destinations) {
            destination.Id = Guid.NewGuid();
            destination.ClusterId = newCluster.Id;
        }

        var success = await _modal.PerformSave(async () => {
            _db.Clusters.Add(newCluster);
            await _db.SaveChangesAsync();
        });

        if (success) {
            _ = _config.UpdateHasChangesPending();
            await ReloadClusters();
        }
    }

    private async Task DeleteCluster(ProxyCluster cluster) {
        var result = await _modal.YesNo(_strings["Delete Cluster"], $"{_strings["Delete"]}: {cluster.Name}\n\n{_strings["WARN_Delete"]}");
        if (result != DialogResult.Yes) return;

        var success = await _modal.PerformProcessing(async () => {
            var routes = await _db.Routes
                .AsNoTracking()
                .Where(_ => _.ClusterId == cluster.Id)
                .Select(_ => _.Name)
                .ToListAsync();

            if (routes.Count > 0) {
                throw new Exception($"{_strings["ERR_DeleteFailed"]}: {cluster.Name}\n\n{_strings["ERR_RouteConstraint"]}:\n- {string.Join("\n- ", routes)}");
            }

            _db.Clusters.Remove(cluster);
            await _db.SaveChangesAsync();
        });

        if (success) {
            _ = _config.UpdateHasChangesPending();
            await ReloadClusters();
        }
    }

    public void Dispose() {
        _db?.Dispose();
    }
}
